<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://dp130634.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>dp130634.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>dp130634</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$dp130634</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="IEP_Petar.Models.Model1" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="IEP_Petar.Models.Model1, IEP_Petar" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="MyConnection" Order="5" Enabled="False">
          <Destination Path="Data Source=dp130634.database.windows.net;Initial Catalog=dp130634;User ID=dp130634;Password=8.plaviemph;Application Name=EntityFramework" Name="Data Source=dp130634.database.windows.net;Initial Catalog=dp130634;User ID=dp130634;Password=8.plaviemph;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="IEP_Petar.Models.ApplicationDbContext, IEP_Petar" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)IEP_Petar.Models.Model1-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MyConnection-Web.config Connection String">
      <ParameterValue>Data Source=dp130634.database.windows.net;Initial Catalog=dp130634;User ID=dp130634;Password=8.plaviemph;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="IEP_Petar.Models.Model1" />
  </ItemGroup>
</Project>